.content{
    background-color: #7EAA92;
    padding: 3%;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3%;
}
.link{
    color: #fff;

}